
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_admin.cshtml";
}

<h2>Upload Fixtures</h2>

@using (Html.BeginForm("Index", "Fixture", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <input type="file" name="file" />
    <input type="submit" value="Upload Fixtures" class="btn-primary" />
}  