
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_BranchManager.cshtml";
}


<div class="row" ng-controller="managerController" ng-init="loadBranch()">
    <div class="col-lg-8">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title"><i class="fa fa-bar-chart-o"></i> Branch Summary</h3>
            </div>
            <div class="panel-body">
                <div id="shieldui-grid1">

                    <table class="table table-bordered"><tr><td>Branch Name: </td><td ng-bind="BranchSummary.BranchName"></td></tr>
                        <tr>
                            <td>Manager Balance:  </td>
                            <td ng-bind="BranchSummary.Managerbalance|number"></td>
                        </tr>
                        <tr>
                            <td>Total Teller Balance:  </td>
                            <td ng-bind="BranchSummary.TotalTellerBalance|number"></td>
                        </tr>
              <tr>
              <td>Branch Balance: </td>
                  <td ng-bind="BranchSummary.TotalStake|number"></td></tr>
                      
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-12"> 
        <div class="panel panel-primary" ng-init="loadTellers()">
            <div class="panel-heading">
                <h3 class="panel-title"><i class="fa fa-bar-chart-o"></i> Teller Summary</h3>
            </div>
            <div class="panel-body">
                <div id="shieldui-grid12">

                    <table class="table table-bordered table-hover">
                        <thead><tr><td>Teller</td> <td>Sales</td><td>CashOut</td> <td>Balance</td> <td>Maximum Cash</td></tr></thead>
                        <tbody>
                            <tr ng-repeat="teller in tellers">
                                <td><a href="~/Manager/UserAccount/{{teller.UserId}}"><i class="icon-eye-open">{{teller.UserId}}</i></a></td>
                                <td>{{teller.Sales|number}}({{teller.TotalReceipt}})</td>
                                <td ng-bind="teller.CashOut|number"></td>
                                <td >{{teller.Balance|number}}</td>
                           
                                <td>1000000</td>
                            </tr>


                        </tbody>
                        <tfoot>
                            <tr>
                                <th></th>
                                <th>{{tellers|sumByKey:'Sales'|number}}</th>
                                <th>{{tellers|sumByKey:'CashOut'|number}}</th>
                        
                                <th>{{tellers|sumByKey:'Balance'|number}}</th>
                                <th></th>
                            
                               
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="~/Scripts/jscontrollers/managerController.js"></script>
