.wrapper {
    /*position: absolute;
    width: 100%;*/
    /*height: auto;*/
    background: url(Images/pattern2.png) repeat left top;
}

body {
    background-image: url(Images/uefa2.jpg);
    /*background-position-x: 50%;
    background-position-y: 50%;
    background-size: cover;
    background-attachment: fixed;
    background-origin: initial;
    background-clip: initial;
    background-color: rgb(37, 37, 37);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;*/
    background-color: #ffffff;
    font-family: 'latoregular';
}

/*.btn-login-facebook {
    background-color: #4ba84b;
    color: #000000;
    font-weight: bold;
    border-color: #4ba84b;
}

.btn-login-facebook::before {
    background-color: #4ba84b;
    border-color: #4ba84b;
    color: #000000;
    content: "\f023";
    font-size: 2.2em;
    vertical-align: middle;
}

.btn-login-facebook:hover, .btn-login-facebook:focus {
    color: #000000;
    background-color: #4ba84b;
    border-color: #4ba84b;
}

.btn-login {
    color: #000000;
    background-color: #4ba84b;
    border-color: #4ba84b;
}*/

.logo {
    color: #ffffff;
    font-weight: bold;
}

.footer {
    /*background-color: #d1ee0c;*/
    background-color: #000;
    color: #fff;
}

/* Top Bar Custom Styles */
.top-bar {
    /*background-color: #000000;
    border-bottom: 1px solid #4ba84b;
    /*background-color: #4ba84b;
    color: #ffffff;*/
    background-color: #ececec;
    /*color: #868686;*/
    color: #000000;
}


.top-bar .logged-user .dropdown-menu {
    left: -80px;
    top: 30px;
    padding: 0;
}

.top-bar .logged-user .btn {
    color: #000000;
}

.top-bar .logged-user .open .btn {
    color: #000000;
}

.mycustom-logout {
    color: #555;
    text-decoration: none;
    padding: 10px;
    height: 35px;
}

#logoutForm {
    padding-top: 8px;
    font-size: 0.9em;
    padding-bottom: 12px;
}

#logoutForm a, a:hover {
    text-decoration: none;
}

/*a.mycustom-logout {
    padding-bottom: 20px;
}*/

ul.main-menu > li a {
    background-color: white;
    color: #555555;
}

.main-header {
    margin-bottom: 5px;
}

.top-bar .notifications .count {
    border-color: #4ba84b;
}

.content-wrapper {
    padding-top: 5px;
    padding-right: 5px;
    padding-left: 5px;
}

.bottom .container .content-wrapper {
    background-color: #ffffff;
    border-left: 1px solid #e4e4e4;
}

#form1 .form-group {
    padding-left: 15px;
}

.col-lg-12 {
    padding-left: 0;
}


/*  Wizard Styles */
.step-content {
    margin-top: 5px;
    padding-left: 0;
}

.step-pane input[type="text"] {
    border-top-color: transparent;
    border-left-color: transparent;
    border-right-color: transparent;
    border-bottom-color: #000000;
}

.step-pane .form-group {
    padding-bottom: 10px;
}

.wizard ul li {
    font-size: 12px;
    cursor: pointer;
}

.col-md-4 .form-group {
    padding-left: 0;
}

.widget-content {
    background-color: #ffffff;
}

legend {
    font-size: 1.0em;
    font-weight: bold;
}

fieldset .form-group {
    padding-left: 15px;
}

.main-content {
    padding-bottom: 0;
}


/* Profile Page Styles */
.col-md-3, .col-md-5, .col-md-6, .col-md-4, .col-sm-12, .col-sm-8, .col-md-12, .col-sm-6 {
    padding-left: 0;
}

.profile .user-info-left, .profile .user-info-right {
    padding: 10px 5px;
}

.user-info-right > div {
    margin-bottom: 60px;
}

.content .row {
    margin-left: 0;
    margin-right: 0;
}


/* Data Tables Modification Script */
.paginate_disabled_previous, .paginate_disabled_next {
    cursor: pointer;
    *cursor: hand;
    padding-left: 3px;
    padding-right: 3px;

    /* Btn Properties */
    /*display: inline-block;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 0;*/
}

/*.paginate_disabled_previous {
    background-color: whitesmoke;
}

.paginate_disabled_next {
    background-color: #246195;
}*/


.panel-body {
    background-color: #fff;
}


.questionaire-control, .questionaire-control[readonly] {
    background-color: #fff;
    border-bottom: 1px solid #000;
    border-top: 0;
    border-left: 0;
    border-right: 0;
}