body{
    font:1em Helvetica, Arial, Geneva, sans-serif;
    padding:0;
    margin: 5px;
    color: black;
    background-color:whitesmoke;
}
div{padding: 0;
margin: 0;}

button{
    cursor:pointer;
}

.hidden{
    display:none;
}
#app{
    position: fixed;
    top: 48px;
    right: 2%;
    margin:0px;
    min-width: 35em;
    background-color: #ffffff;
    max-height: 450px;
    overflow-y: auto;
    z-index: 1000;
}
#app>header{
    padding: 0 0.5px;
    font-size: 1.5em;
    color :whitesmoke;
    background-color: #ffffff;
}
#app>footer{
    padding: 0.25px;
    color: whitesmoke;
    background-color :#ffffff;
}
#main{
    margin: 1em auto;
    min-width: 9em;
    max-width: 35em;
    border-radius: 4px;
    border: 2px solid darkblue;
    box-shadow: 2px 2px 3px  rgba(0,0,0,0.6);
    background-color:rgba(63,121,192,0.01);
}

#selection-summary span:not(:first-child){
    margin-left: 2.75em;


}
#selection-summary span{

    font-size:0.9em;
    line-height: 1.2em;

}

  ul>li.bet{
    list-style: none;
    margin-left: -35px;
    padding-left: 0;
      min-width: 98%;

     /* border-bottom: 1px dashed black;*/
      width: 98%;
}
  #betList,#multiple-bet-template{
      width: 100%;
  }


#betList .bet,#multiple-bet-template .bet{
    position :relative;
    list-style: none;
    padding: 0.25em;
    margin: 0.25em;
    margin-left: -35px;
    background-color:beige;
    border-radius: 4px;
    box-shadow: 2px 2px 3px  rgba(0,0,0,0.6);
    width:95%;

    /*css3 transitions*/
    -webkit-transition:all 0.25s ease-out;
    -ms-transition:all 0.25s ease-out;
    -o-transition:all 0.25s ease-out;
    transition:all 0.25s ease-out;
}

.info{

    background-color:lightblue;
}

.stake-summary{
    margin-bottom: 0.4em;
}

#betList .bet  button{
   
    position:absolute;
    right:1px;
    top:2px;
   
    padding:0;
    margin: 0;
    margin-left: 0.65em;
    width: 16px;
    height: 16px;
    border:none;
    color:transparent;
    border-radius:4px;
    background:url("images/icons.png");
}


#betList .bet .match-summary button.delete{
    background-position:0 0;
}

#betList .bet .match-summary input{
border-radius: 4px;
    margin: 0.35em;
}


.event {
    border-radius:4px;
    -webkit-border-radius:4px;
    color:#FFFFFF;
    font-size:12px;
    margin:0px 1px;
    padding:2px 0px;
}

.event.listening {
    background-color:#d43f3a;
    display:block;
}

.event.received {
    background-color:#4B946A;
    display:none;
}

@keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.2; }
    to { opacity: 1.0; }
}

@-webkit-keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.2; }
    to { opacity: 1.0; }
}

.blink {
    animation:fade 5000ms infinite;
    -webkit-animation:fade 5000ms infinite;
}

.match-name ,.match-code{

    font-size:1.25em;
    font-weight:bold;
}
.bet {
position:relative;
}
    .bet button {
   

    }
   li .bet{
        width:98%;
    }