
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_admin.cshtml";
}
<style>
    a, button {
        font: 14px 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
        display: block;
        color: #333;
        margin-bottom: 10px;
    }
</style>

<div ng-controller="popupController">

    <script type="text/ng-template" id="modalDialogId">
        <div class="ngdialog-message" ng-controller="popupController">
            Are you Sure you want to Cancel this receipt
        </div>
       
    </script>
    <script type="text/ng-template" id="firstDialogId">
        <div class="ngdialog-message" ng-o>
            <h3>ngDialog template</h3>
            <p ng-show="theme"> <code>{{theme}}</code></p>

        </div>
        <div class="ngdialog-buttons">
            <button type="button" class="ngdialog-button ngdialog-button-secondary"
                    ng-dialog="secondDialogId"
                    ng-dialog-class="ngdialog-theme-default"
                    ng-dialog-controller="SecondModalCtrl"
                    ng-dialog-close-previous>
                Close and open
            </button>
            <button type="button" class="ngdialog-button ngdialog-button-primary" ng-click="openSecond()">Open next</button>
        </div>
    </script>


    <div class="row">
        <div class="col-lg-12" ng-controller="adminRecieptController" ng-init="loadReciepts('@ViewBag.BusinessDay',@ViewBag.Status)">
            <div class="span12">

                <div id="Person-1" class="box">
                    <div class="box-header">
                        <i class="icon-user icon-large"></i>
                        <h5>Reciepts</h5>
                        <div class="btn-group">

                            <select ng-model="StatusId" class="btn btn-info dropdown-toggle" data-toggle="dropdown" ng-change="selectReceipts()">
                                <option value="">-- Select Tickets --</option>
                                <option ng-repeat="c in ReceiptStatus" value="{{c.StateId}}">{{c.StateName}}</option>
                            </select>
                        </div>

                    </div>


                    <table class="table table-hover table-striped table-condensed table-bordered" style="width:1000px">
                        <thead>
                            <tr>
                                <th style="background-color: #006dcc; color:white">Ticket</th>
                                <th style="background-color: #006dcc; color:white">Stake</th>
                                <th style="background-color: #006dcc; color:white">Time</th>
                                <th style="background-color: #006dcc; color:white">Total Odd</th>
                                <th style="background-color: #006dcc; color:white">Teller</th>
                                <th style="background-color: #006dcc; color:white"></th>
                                <th style="background-color: #006dcc; color:white"></th>

                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="item in Reciepts">
                                <td>
                                    <input type="button" class="btn btn-primary  Details" value="{{item.ReceiptId}}" />
                                </td>
                                <td>{{item.Stake|number}}</td>
                                <td ng-bind="item.ReceiptDate"></td>
                                <td ng-bind="item.TotalOdds"></td>
                                <td ng-bind="item.UserId"></td>
                                <td ng-bind="item.Status"></td>


                            </tr>

                        </tbody>
                        <tfoot>
                            <tr>
                                <th></th>
                                <th>{{Reciepts|sumByKey:'Stake'}}</th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>

</div>

<script src="~/Scripts/jscontrollers/popupController.js"></script>
<script src="~/Scripts/jscontrollers/adminRecieptController.js"></script>
<script src="~/Scripts/jscontrollers/InsideCtrl.js"></script>
<script src="~/Scripts/jscontrollers/SecondModalCtrl.js"></script>

<script src="~/Scripts/jquery/jquery.min.js"></script>

<script src="~/Scripts/jquery-ui.js"></script>
<link href="~/Content/jquery-ui.css" rel="stylesheet" />
<script type="text/javascript">
    $('table').delegate('.Details', 'click', function () {

        var reciept = $(this).val();

        $.ajax({
            url: '@Url.Action("RecieptData", "Recept")/' + reciept,
            dataType: 'json',
            type: 'GET'
        }).done(function (data) {
            var dt = '';
            dt = '<table width="600"  id="rectable">';
            // alert("out");
            dt += ('' +
                  '<th colspan="2"><b>Reciept Id: ' + ' <label   id="Reciept" ></label>' + reciept + '</b></th>');
            //   alert(dt);
            var status = "";
            var betmoney = 0;
            var setodd = 0;
            var loop = 0;
            var Cancel = false;
            for (var i in data) {
                status = data[i].status;
                Cancel = data[i].Cancel;
                //  alert(Cancel);
                loop += 1;
                if (loop == 1) {
                    dt += (
         '<tr>' +
          '<td   colspan="2" >Stake:' + data[i].BetMoney + '</td>' + '</tr><tr>' +
              '<td  data-field="matchId" class="match-code">Status:' + data[i].status + '</td>' + '</tr><tr>' +
           '<td> TotalOdd:' + data[i].SetOdd + '</td>' +
             '</tr>' +
             '<tr><td colspan="2">-------------------------<td></tr>'
                );
                }
                dt += (
          '<tr class="match" id="' + data[i].id + '">' +
           '<td  data-field="matchId" class="match-code" colspan="2" >' + data[i].team + '</td>' + '</tr><tr>' +
               '<td  data-field="matchId" class="match-code">' + data[i].type + '</td>' +
            '<td  data-field="betmoney" class="match-code">' + data[i].choice + '</td>' +

              '</tr>' +
              '<tr><td colspan="2">-----------------------<td></tr>'

              );

            }
            dt += ('</table>');
    
                dt += '<input type="button" id="recid"  class="btn btn-danger btn-xs cancel" value="CancelReciept"  />';
            
            $("#dialog").html(dt);
            $("#rectable tr:not(:first)").each(function () {
                $(this).find("td:nth-child(2)").css("color", "#00FF00");
            });
            // original data from the server
            games = data;
            console.log(games);
            $("#dialog").dialog({
                title: "Reciept Details",
                buttons: {
                    Close: function () {
                        $(this).dialog('close');

                    }

                }

            });

        })

        return false;
    })
    $("[id*=recid]").live("click", function () {
        var recieptid = $("#Reciept").val();
        alert("Cancel Ticket"+recieptid);
        $.ajax({
            url: '@Url.Action("CancelReciept", "Recept")/' + recieptid,
            dataType: 'json',
            type: 'GET'
        }).done(function (data) {
            window.location.reload();
            $("#dialog").hide(20);
            // alert("back");
        })

    })
    $("[id*=payreciept]").live("click", function () {
        var recieptid = $("#RecieptId").val();
        alert(recieptid);
        $.ajax({
            url: '@Url.Action("PayReciept", "Recept")/' + recieptid,
            dataType: 'json',
            type: 'GET'
        }).done(function (data) {
            window.location.reload();
            $("#dialog").hide(20);
            //  location.reload();
            alert("back");
        })

    })
</script>


<div id="dialog">
    Reciept Details
</div>